In [1]:
print("hola mundo !!")
print("hola de nuevo")

hola mundo !!
hola de nuevo

In [2]:
uNumero = 3
otronumero = 2
unTesto = "Esto es un texto"
print(uNumero)
print(unTesto)

3
Esto es un texto

In [3]:
type(uNumero)

int

In [4]:
resultado = uNumero + otronumero
print(resultado)

5

In [5]:
unbooleano = True
type(unbooleano)

bool

In [6]:
comp = 3 +2j
print(comp)
type(comp)

(3+2j)

complex

In [7]:
unfloat = 2.4
type(unfloat)

float

In [8]:
unfloat = "ESTO ES UN TEXTO"
type (unfloat)

str

In [ ]:
print("valor de unfloat:", unfloat)

valor de unfloat: ESTO ES UN TEXTO

In [10]:
entrada = input("escribe algo")
print("lo que el usuario escribió:", entrada)
type(entrada)

lo que el usuario escribió:

str

In [ ]:
entrada = int( input("escribe un número"))
print("lo que el usuario escribió:", entrada)
type(entrada)

In [ ]:
unalistaNum = [2,66,25,98,5]
type(unalista)

In [ ]:
cajonDeSastre = ["textos", 1, True]
print(cajonDeSastre)
print(cajonDeSastre[0])

In [ ]:
cajonDeSastre[0] = "numeros"
print(cajonDeSastre)

In [ ]:
unTupla = ("textos", 1, True)
print(unTupla)
print(unTupla[2])

In [ ]:
unTupla[0] = "numeros"

In [ ]:
unTupla[0:2]

In [ ]:
unConjunto = {"textos", 1, True}

type(unConjunto)

In [ ]:
unDiccionario = {"texto":"Un Texto", "numero": 34, "booleano":False}
print(unDiccionario)
type(unDiccionario)

In [ ]:
unDiccionario["numero"]

In [ ]:
#usuario

In [ ]:
print("HOLA")

HOLA

In [ ]:
m = 2
n = 4
r = (m-n) * 3
r
rr = r/4
rr
c = r//4
resto = r % 4
print(c,resto)

-2 2

In [ ]:
m = 2
n = 3
m != n
m <= n

True

In [ ]:
t1 = "ax"
t2 = "aa"
t1 > t2

True

In [ ]:
l1 = [1,2,3]
l2 = [1,2,4]
l1 > l2

False

In [ ]:
not ((t1>t2) or (l2>l1))

False

In [ ]:
" Data" in "hloa data mundo"

False

In [ ]:
l1 = [1,2,3]
"data" not in l1

True

In [ ]:
1 + (3 * 4)

13

In [ ]:
x = 4
float(x)

4.0

In [ ]:
texto = "hla mundo"
texto2 = 'hola mundo'
textomultilinea = '''Esto es
un texto
 con saltos de lines'''
textomultilinea


textoconcomillas = 'un texto con "comillas"'
textoconcomillas = "un texto con 'comillas'"
textoconcomillas = "un texto con \"comillas\" "
textoconcomillas

'un texto con "comillas" '

In [ ]:
len(textoconcomillas)
l1 = [1,2,4]
len(l1)

3

In [ ]:
l1 = list ("Hola mundo")
s1 = set ("hola mundo")
print(l1,s1)

['H', 'o', 'l', 'a', ' ', 'm', 'u', 'n', 'd', 'o'] {'a', 'n', 'u', 'm', 'l', 'o', ' ', 'h', 'd'}

In [ ]:
sorted("Hola mundo")

[' ', 'H', 'a', 'd', 'l', 'm', 'n', 'o', 'o', 'u']

In [ ]:
sorted(l1)

[' ', 'H', 'a', 'd', 'l', 'm', 'n', 'o', 'o', 'u']

In [ ]:
"Hola mundo" .title()

'Hola Mundo'

In [ ]:
str = "hola mundo" 
str.replace("o","x")
l1 = str.split(" ")
print(l1)
"_".join(l1)
"_".join(str.split())

['hola', 'mundo']

1

In [ ]:
l1 = str.split(" ").count("hola")

In [ ]:
t1 = (1,2,3)
s1 = {1,2,3}

l2 = list(s1)
l2 [-2]

2

In [ ]:
l1 = [1,2,3,4,5,6,7,8,9,10]
prim = l1[0]
ult = l1[len(l1)-1]
print (prim,ult)
ind_init = 2
ind_final =5
salto = 2
l1[ind_init:ind_final:salto]

1 10

[3, 5]

In [ ]:
l1[1:3]=["a","b"]
l1

[1, 'a', 'b', 4, 5, 6, 7, 8, 9, 10]

In [ ]:
l1.append(4)
l1

[1, 'a', 'b', 4, 5, 6, 7, 8, 9, 10, 4, 4]

In [ ]:
l2=["x","y","z"]
l1.extend(l2)
l1
l3 = l1 + l2
l3

[1,
 'a',
 'b',
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 4,
 4,
 'x',
 'y',
 'z',
 'x',
 'y',
 'z',
 'x',
 'y',
 'z',
 'x',
 'y',
 'z']

In [ ]:
l1.insert(2,'hola')
l1

[1,
 'a',
 'hola',
 'hola',
 'b',
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 4,
 4,
 'x',
 'y',
 'z',
 'x',
 'y',
 'z',
 'x',
 'y',
 'z']

In [ ]:
l1 =[1,2,3,4,5,6,7,8]
del(l1[:2])
l1

[3, 4, 5, 6, 7, 8]

In [ ]:
l1 =[1,2,3,4,5,6,7,8]
e1=l1.pop(2)
print(e1,l1)

3 [1, 2, 4, 5, 6, 7, 8]

In [ ]:
l1 = [1,2,3]
l2 = ['a','b','c']

try:
    l1 > l2
except:
    print("error!!!")

print ('continua...')

error!!!
continua...

In [ ]:
l1=['a','b','c','a','z']
max(l1)
l1.index('a',1)
l1.sort(reverse=True)
l1

['z', 'c', 'b', 'a', 'a']

In [ ]:
t1 =1,2,3
t1

(1, 2, 3)

In [ ]:
s1 = {'a',0,False ,1,2,True,'a'}
s1

{0, 1, 2, 'a'}

In [ ]:
set(l1)
s1.update({2,3,5})
s1

{0, 1, 2, 3, 5, 'a'}

In [ ]:
s1.discard(22)
s1

{0, 1, 2, 3, 5, 'a'}

In [ ]:
s1 = {'a','b',5}
s2 = {1,2,5,'c'}
s3 = s1.intersection(s2)
s3
s1.symmetric_difference(s2)

{1, 2, 'a', 'b', 'c'}

In [ ]:
dict1 = {'lunes':1,'martes':2,'miercoles':3}
l1 = list(dict1.keys())
l1
vals =tuple(dict1.values())
vals
items = list(dict1.items())
items

[('lunes', 1), ('martes', 2), ('miercoles', 3)]

In [ ]:

dict1['lunes'] = 'primrero'
dict1['viernes'] = 5
del (dict1['lunes'])
#dict1.pop('martes')
dict1.get('martes', 'No existe')

'No existe'

In [ ]:
lisnum = [1,2,3,4,5,6,7,8]
try:
    val = int(input("diga un num para ver si está en la lista:"))
    print('Esta:',val in lisnum)
except:
    print("debe ser un número")

Esta: True

In [ ]:
try:
    horas = int(input('introduzca horas trabajadas al año:'))
    pph = int(input('introduzca precio por hora t:'))
    sueldo = horas * pph
    smm = sueldo / 12
    print('sueldo medio mensual:',smm)
except:
    print("deben ser un números")

sueldo medio mensual: 2250.0

In [ ]:
try:
    txtlista = input('introduzca numeros separados por comas:')
    lista = txtlista.split(',')
    print('el mayor de la lista es :', max(lista))
   
except:
    print("deben ser numeros separados por comas")

el mayor de la lista es : o

In [ ]:
lisnum1 = [1,2,3,4,5,6,7,8,1,12,2,23,3,5]
ss = set(lisnum1)
print('lista de valores únicoa:', ss)

lista de valores únicoa: {1, 2, 3, 4, 5, 6, 7, 8, 12, 23}

In [ ]:
unDIccion = {'primero':1,'segundo':25,'tercero':3,'cuarto':4}
claves = list(unDIccion.keys())
segundo= unDIccion.get(claves[1])
print('el segundo:',segundo)

el segundo: 25

In [ ]:
print('hola')

hola

In [ ]:
texto = "Estas son unas palabras"
un_numero = 22


def impremeTextomejorada(texto,num):
    texto = texto +'!!!'
    print(texto)
    num+=10
    print(un_numero)
impremeTextomejorada (texto, un_numero)

Estas son unas palabras!!!
22

In [6]:
alumnos = ['paco','luis','mario','luisa','andres']
notas = [6, 5, 7, 8, 2]

comb = list(zip(alumnos, notas))
dict_alumnos = dict(comb)
dict_alumnos

{'paco': 6, 'luis': 5, 'mario': 7, 'luisa': 8, 'andres': 2}

In [14]:
alumnos_ordenados = sorted(dict_alumnos, key=lambda s: s[2], reverse=True)
alumnos_ordenados

['mario', 'luis', 'luisa', 'andres', 'paco']

In [1]:
n = 7

if n >= 2 and n < 5:
    print( 'Si es mayor oigual que 2')
elif n >= 5 and n < 7:
    print('es mayor o igual que 5')
elif n >= 7:
    print('es mayor oigual que 7')
else:
    print('es menor que 2')



if 'hola' in 'hola mundo': 
    print('hola está en la frase')

es mayor oigual que 7
hola está en la frase

In [1]:
n1 = 2
n2 = 3
n3 = 4

if n1 >= n2 and n1>=n3:
    print(n1)

elif n2>= n1 and n2>= n3:
    print(n2)

elif n3>= n1 and n3>= n2:
    print(n3)

4

In [2]:
numeros = [1,2,5,67,78,234,22,5]

mayor = 0

for num in numeros:
    if num >= mayor:
        mayor = num

print(mayor)

234

In [2]:
diccion = {'carlos': 1, 'ana':4, 'Pwerca':8,'paco': 7}

may = 0

for key,val in diccion.items():
    if (val >= may):
        may = val
        nombre = key

print(nombre)

Pwerca