In [ ]:
print("hola mundo !!")
print("hola de nuevo")

In [ ]:
uNumero = 3
otronumero = 2
unTesto = "Esto es un texto"
print(uNumero)
print(unTesto)

In [ ]:
type(uNumero)

In [ ]:
resultado = uNumero + otronumero
print(resultado)

In [ ]:
unbooleano = True
type(unbooleano)

In [ ]:
comp = 3 +2j
print(comp)
type(comp)

In [ ]:
unfloat = 2.4
type(unfloat)

In [ ]:
unfloat = "ESTO ES UN TEXTO"
type (unfloat)

In [ ]:
print("valor de unfloat:", unfloat)

In [ ]:
entrada = input("escribe algo")
print("lo que el usuario escribió:", entrada)
type(entrada)

In [ ]:
entrada = int( input("escribe un número"))
print("lo que el usuario escribió:", entrada)
type(entrada)

In [ ]:
unalistaNum = [2,66,25,98,5]
type(unalista)

In [ ]:
cajonDeSastre = ["textos", 1, True]
print(cajonDeSastre)
print(cajonDeSastre[0])

In [ ]:
cajonDeSastre[0] = "numeros"
print(cajonDeSastre)

In [ ]:
unTupla = ("textos", 1, True)
print(unTupla)
print(unTupla[2])

In [ ]:
unTupla[0] = "numeros"

In [ ]:
unTupla[0:2]

In [ ]:
unConjunto = {"textos", 1, True}

type(unConjunto)

In [ ]:
unDiccionario = {"texto":"Un Texto", "numero": 34, "booleano":False}
print(unDiccionario)
type(unDiccionario)

In [ ]:
unDiccionario["numero"]

In [ ]:
#usuario

In [1]:
print("HOLA")

HOLA

In [6]:
m = 2
n = 4
r = (m-n) * 3
r
rr = r/4
rr
c = r//4
resto = r % 4
print(c,resto)

-2 2

In [15]:
m = 2
n = 3
m != n
m <= n

True

In [18]:
t1 = "ax"
t2 = "aa"
t1 > t2

True

In [20]:
l1 = [1,2,3]
l2 = [1,2,4]
l1 > l2

False

In [22]:
not ((t1>t2) or (l2>l1))

False

In [26]:
" Data" in "hloa data mundo"

False

In [28]:
l1 = [1,2,3]
"data" not in l1

True

In [30]:
1 + (3 * 4)

13

In [33]:
x = 4
float(x)

4.0

In [41]:
texto = "hla mundo"
texto2 = 'hola mundo'
textomultilinea = '''Esto es
un texto
 con saltos de lines'''
textomultilinea


textoconcomillas = 'un texto con "comillas"'
textoconcomillas = "un texto con 'comillas'"
textoconcomillas = "un texto con \"comillas\" "
textoconcomillas

'un texto con "comillas" '

In [44]:
len(textoconcomillas)
l1 = [1,2,4]
len(l1)

3

In [51]:
l1 = list ("Hola mundo")
s1 = set ("hola mundo")
print(l1,s1)

['H', 'o', 'l', 'a', ' ', 'm', 'u', 'n', 'd', 'o'] {'a', 'n', 'u', 'm', 'l', 'o', ' ', 'h', 'd'}

In [48]:
sorted("Hola mundo")

[' ', 'H', 'a', 'd', 'l', 'm', 'n', 'o', 'o', 'u']

In [52]:
sorted(l1)

[' ', 'H', 'a', 'd', 'l', 'm', 'n', 'o', 'o', 'u']

In [55]:
"Hola mundo" .title()

'Hola Mundo'

In [ ]:
str = "hola mundo" 
str.replace("o","x")
l1 = str.split(" ")
print(l1)
"_".join(l1)
"_".join(str.split())

['hola', 'mundo']

1

In [67]:
l1 = str.split(" ").count("hola")

In [72]:
t1 = (1,2,3)
s1 = {1,2,3}

l2 = list(s1)
l2 [-2]

2

In [85]:
l1 = [1,2,3,4,5,6,7,8,9,10]
prim = l1[0]
ult = l1[len(l1)-1]
print (prim,ult)
ind_init = 2
ind_final =5
salto = 2
l1[ind_init:ind_final:salto]

1 10

[3, 5]

In [86]:
l1[1:3]=["a","b"]
l1

[1, 'a', 'b', 4, 5, 6, 7, 8, 9, 10]

In [88]:
l1.append(4)
l1

[1, 'a', 'b', 4, 5, 6, 7, 8, 9, 10, 4, 4]

In [91]:
l2=["x","y","z"]
l1.extend(l2)
l1
l3 = l1 + l2
l3

[1,
 'a',
 'b',
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 4,
 4,
 'x',
 'y',
 'z',
 'x',
 'y',
 'z',
 'x',
 'y',
 'z',
 'x',
 'y',
 'z']

In [93]:
l1.insert(2,'hola')
l1

[1,
 'a',
 'hola',
 'hola',
 'b',
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 4,
 4,
 'x',
 'y',
 'z',
 'x',
 'y',
 'z',
 'x',
 'y',
 'z']

In [ ]:
l1 =[1,2,3,4,5,6,7,8]
del(l1[:2])
l1

[3, 4, 5, 6, 7, 8]

In [95]:
l1 =[1,2,3,4,5,6,7,8]
e1=l1.pop(2)
print(e1,l1)

3 [1, 2, 4, 5, 6, 7, 8]

In [103]:
l1 = [1,2,3]
l2 = ['a','b','c']

try:
    l1 > l2
except:
    print("error!!!")

print ('continua...')

error!!!
continua...