# Ejercicio Data Quality - Perfilado
## Evaluar la calidad de datos de las ventas de productos

Se quiere hacer una evaluación de calidad de datos sobre las ventas (sales) y pagos (payments). Para ello se requiere hacer un análisis de los siguientes puntos:
- Calidad de los datos
- Selección de clave principal
- Identificación de cardinalidad
- Obtener media, varianza y desviacion Estandar, covarianza, correlacion
- Mejorar la calidad.

**Referencia**: “Estadística Descriptiva con Python y Pandas”: https://coderhook.github.io/Descriptive%20Statistics

- Columnas sales:, orderNumber, orderLineNumber, orderDate, shippedDate, requiredDate, customerNumber, employeeNumber, productCode, status, comments, quantityOrdered, priceEach, sales_amount, origin

- Columnas payments:, customerNumber, checkNumber, paymentDate, amount

In [1]:
import pandas as pd
import numpy as np
from tabulate import tabulate
payment = pd.read_csv('https://raw.githubusercontent.com/ricardoahumada/DataScienceBasics/refs/heads/main/data/company_sales/payments.csv')

print(payment.info())
print(payment.head())
payment.tail()
payment.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278 entries, 0 to 277
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   0            278 non-null    int64
 1   checkNumber  278 non-null    object
 2   0000-00-00   278 non-null    object
 3   0.00         278 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 8.8+ KB
None
     0 checkNumber  0000-00-00      0.00
0  103    HQ336336  2004-10-19   6066.78
1  103    JM555205  2003-06-05  14571.44
2  103    OM314933  2004-12-18   1676.14
3  112    BO864823  2004-12-17  14191.12
4  112     HQ55022  2003-06-06  32641.98

(278, 4)

In [2]:
import pandas as pd
payment = pd.read_csv('https://raw.githubusercontent.com/ricardoahumada/DataScienceBasics/refs/heads/main/data/company_sales/payments.csv')

print(payment.info())
payment.head()
payment.tail()
payment.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278 entries, 0 to 277
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   0            278 non-null    int64
 1   checkNumber  278 non-null    object
 2   0000-00-00   278 non-null    object
 3   0.00         278 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 8.8+ KB
None

(278, 4)

In [3]:
sales = pd.read_csv('https://raw.githubusercontent.com/ricardoahumada/DataScienceBasics/refs/heads/main/data/company_sales/sales.csv')

print(sales.info())
print (sales.head())
print (sales.tail())
sales.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3001 entries, 0 to 3000
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   0             3001 non-null   int64
 1   0.1           3001 non-null   int64
 2   0000-00-00    3001 non-null   object
 3   0000-00-00.1  2859 non-null   object
 4   0000-00-00.2  3001 non-null   object
 5   0.2           3001 non-null   int64
 6   0.3           3001 non-null   int64
 7   productCode   3001 non-null   object
 8   status        3001 non-null   object
 9   comments      759 non-null    object
 10  0.4           3001 non-null   int64
 11  0.00          3001 non-null   float64
 12  0.00.1        3001 non-null   float64
 13  origin        3001 non-null   object
dtypes: float64(2), int64(5), object(7)
memory usage: 328.4+ KB
None
       0  0.1  0000-00-00 0000-00-00.1 0000-00-00.2  0.2   0.3 productCode  \
0  10100    1  0000-00-00   0000-00-00   0000-00-00  363  1216    S24_3969
1  10100    2  0000-00-00   0000-00-00   0000-00-00  363  1216    S18_2248
2  10100    3  0000-00-00   0000-00-00   0000-00-00  363  1216    S18_1749
3  10100    4  0000-00-00   0000-00-00   0000-00-00  363  1216    S18_4409
4  10101    1  0000-00-00   0000-00-00   0000-00-00  128  1504    S18_2795

    status                comments  0.4    0.00   0.00.1 origin
0  Shipped                     NaN   49   35.29  1729.21  spain
1  Shipped                     NaN   50   55.09  2754.50  spain
2  Shipped                     NaN   30  136.00  4080.00  spain
3  Shipped                     NaN   22   75.46  1660.12  spain
4  Shipped  Check on availability.   26  167.06  4343.56  spain
          0  0.1  0000-00-00 0000-00-00.1 0000-00-00.2  0.2   0.3 productCode  \
2996  10425    9  0000-00-00          NaN   0000-00-00  119  1370    S24_2300
2997  10425   10  0000-00-00          NaN   0000-00-00  119  1370    S18_2432
2998  10425   11  0000-00-00          NaN   0000-00-00  119  1370    S32_1268
2999  10425   12  0000-00-00          NaN   0000-00-00  119  1370    S10_4962
3000  10425   13  0000-00-00          NaN   0000-00-00  119  1370    S18_4600

          status comments  0.4    0.00   0.00.1 origin
2996  In Process      NaN   49  127.79  6261.71  spain
2997  In Process      NaN   19   48.62   923.78  spain
2998  In Process      NaN   41   83.79  3435.39  spain
2999  In Process      NaN   38  131.49  4996.62  spain
3000  In Process      NaN   38  107.76  4094.88  spain

(3001, 14)